body {
    font-family: "Roboto";
    background-color: #cacdda;
}

.collapsed-sidebar {
    background: #3b5998;
    width: 80px;
    height: 100%;
    left: 0;
    top: 0;
    position: fixed;
    z-index: 1;
}

.sidebar-button {
    position: relative;
    left: 90px;
    top: 10px;
}

.sidebar-button img {
    width: 50px;
}

.schedule-box-container {
    position: absolute;
    top: 200px;
    left: 450px;
}

.latearrive-box-container {
    position: absolute;
    top: 500px;
    left: 450px;
}

.delivered-box-container {
    position: absolute;
    top: 200px;
    left: 1050px;
}

.onloading-box-container {
    position: absolute;
    top: 500px;
    left: 1050px;
}

.box-style {
    width: 500px;
    height: 200px;
    border-style: hidden;  
    border-radius: 25px;
    background: #8B9DC3;
}

.icon-box-container {
    position: absolute;
    top: 20px;
    left: 55px;
}

.icon-box-style {
    border-style: hidden;
    border-radius: 100px;
    background: #DFE3EE;
    width: 100px;
    height: 100px;
}

.text-container {
    position: absolute;
    top: 145px;
    left: 20px;
}

.text-container-style {
    border-style: hidden;
    border-radius: 25px;
    background: #DFE3EE;
    width: 170px;
    height: 35px;
}

.counter-container {
    position: absolute;
    top: 20px;
    left: 220px;
}

.counter-style {
    border-style: hidden;
    border-radius: 25px;
    background: #DFE3EE;
    width: 255px;
    height: 160px;
}
